/*To be easy to work with other elements, margin and padding don't affect their size */
* {box-sizing: border-box;
margin: 0;
padding: 0;}
/* styling divs */
    .grid-item{border: 1px solid black;
width:10px;
height: 10px;
flex: 0 0 auto;
}
/* hover effect on divs */
.special {background-color: red;}
/* positioning the divs */
#container {display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   width : 600px;
   margin: 0 auto;
  
   
    
}

/* positiong and styling the button */
#button1 {
    font-size: 10px;
}